@import "tailwindcss";

main{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: white;
    height: 100vh;
}